@model AdminCategoryAddUpdatePageVM
@{
    ViewBag.Title = "AddCategory";
}

<style>
    .genislik {
        width: 300px;
    }
</style>

@using (Html.BeginForm())
{

    <div class="row">

        <div class="col-sm-12">

            <section class="panel-heading">
                <header class="panel-heading">
                    Ürün ekleme sayfası
                </header>
                <div class=" panel-body">
                    <div class="form-group">
                        <label class="col-sm-2">Ürün ismi</label>
                        <div class="col-sm-11">
                            @Html.TextBoxFor(x => x.Category.CategoryName)
                        </div>
                    </div>
                    <br /> <br />
                    <div class="form-group">

                        <label class="col-sm-2">Ürün fiyat</label>
                        <div class="col-sm-11">
                            @Html.TextBoxFor(x => x.Category.Description)
                        </div>
                    </div>

                    <br /><br />
                    <div>
                        <button class=" btn btn-primary">
                            Ekle
                        </button>
                    </div>
                </div>
            </section>

        </div>


    </div>

}