
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <h2>@TempData["HesapAktifMi"]</h2>
</head>
<body>
    <div> 
    </div>
</body>
</html>
